//////////////////////////////////////////////////////////////////////////
//
// Per-key RGB indicators for layers & mods -- requires PR30 beta firmware:
// select "community.pr30.per-key-rgb" from the drop-down menu located at
// Glove80 Layout Editor > Settings > Advanced Settings > Firmware Version
//
//////////////////////////////////////////////////////////////////////////

//
// color definitions from QMK
// https://github.com/qmk/qmk_firmware/blob/master/quantum/color.h
//
#define AZURE     0x99F5FF // #99F5FF
#define BLACK     0x000000 // #000000
#define BLUE      0x0000FF // #0000FF
#define CHARTRSE  0x80FF00 // #80FF00
#define CORAL     0xFF7C4D // #FF7C4D
#define CYAN      0x00FFFF // #00FFFF
#define GOLD      0xFFD900 // #FFD900
#define GOLDNROD  0xD9A521 // #D9A521
#define GREEN     0x00FF00 // #00FF00
#define MAGENTA   0xFF00FF // #FF00FF
#define ORANGE    0xFF8000 // #FF8000
#define PINK      0xFF80BF // #FF80BF
#define PURPLE    0x7A00FF // #7A00FF
#define RED       0xFF0000 // #FF0000
#define SPRINGRN  0x00FF80 // #00FF80
#define TEAL      0x008080 // #008080
#define TURQUOIS  0x476E6A // #476E6A
#define WHITE     0xFFFFFF // #FFFFFF
#define YELLOW    0xFFFF00 // #FFFF00
#define ________  BLACK    // #000000

#include <dt-bindings/zmk/rgb_colors.h>
  / {
    underglow-layer {
      compatible  = "zmk,underglow-layer";

   

      QWERTY{
        bindings = <
          WHITE    ________ ________ ________ ________                                                                          ________ ________ ________ ________ ________
          ________ ________ ________ ________ ________ ________                                                        ________ ________ ________ ________ ________ ________
          ________ ________ ________ ________ ________ ________                                                        ________ ________ ________ ________ ________ ________
          ________ ________ ________ ________ ________ ________                                                        ________ ________ ________ ________ ________ ________
          ________ ________ ________ ________ ________ ________ ________ ________ ________  ________ ________ ________ ________ ________ ________ ________ ________ ________
          ________ ________ ________ ________ ________          ________ ________ ________  ________ ________ ________          ________ ________ ________ ________ ________
        >;
        layer-id = <LAYER_QWERTY>;
      };
      

     
      Cursor {
        bindings = <
          ________ ________ ________ ________ ________                                                                          ________ ________ ________ ________ ________
          ________ ________ ________ ________ ________ ________                                                        ________ ________ ________ ________ ________ ________
          ________ ________ ________ ________ ________ ________                                                        ________ ________ ________ ________ ________ ________
          ________ ________ ________ ________ ________ ________                                                        ________ ________ ________ ________ ________ ________
          ________ ________ ________ ________ ________ ________ WHITE    ________ ________  ________ ________ ________ ________ ________ ________ ________ ________ ________
          ________ ________ ________ ________ ________          ________ ________ ________  ________ ________ ________          ________ ________ ________ ________ ________
        >;
        layer-id = <LAYER_Cursor>;
      };

      Symbol {
        bindings = <
          ________ ________ ________ ________ ________                                                                          ________ ________ ________ ________ ________
          ________ ________ ________ ________ ________ ________                                                        ________ ________ ________ ________ ________ ________
          ________ ________ ________ ________ ________ ________                                                        ________ ________ ________ ________ ________ ________
          ________ ________ ________ ________ ________ ________                                                        ________ ________ ________ ________ ________ ________
          ________ ________ ________ ________ ________ ________ ________ ________ ________  ________ ________ ________ ________ ________ ________ ________ ________ ________
          ________ ________ ________ ________ ________          WHITE    ________ ________  ________ ________ ________          ________ ________ ________ ________ ________
        >;
        layer-id = <LAYER_Symbol>;
      };

      Games {
        bindings = <
          ________ ________ ________ ________ ________                                                                          ________ ________ ________ ________ ________
          ________ ________ ________ ________ ________ ________                                                        ________ ________ ________ ________ ________ ________
          ________ ________ ________ CYAN     ________ ________                                                        ________ ________ ________ ________ ________ ________
          ________ ________ CYAN     CYAN     CYAN     ________                                                        ________ ________ ________ ________ ________ ________
          ________ ________ ________ ________ ________ ________ ________ ________ WHITE     ________ ________ ________ ________ ________ ________ ________ ________ ________
          ________ ________ ________ ________ ________          ________ ________ ________  ________ ________ ________          ________ ________ ________ ________ ________
        >;
        layer-id = <LAYER_Games>;
      };
     Games_thumb {
        bindings = <
          ________ ________ ________ ________ ________                                                                          ________ ________ ________ ________ ________
          ________ ________ ________ ________ ________ ________                                                        ________ ________ ________ ________ ________ ________
          ________ ________ ________ CYAN     ________ ________                                                        ________ ________ ________ ________ ________ ________
          ________ ________ CYAN     CYAN     CYAN     ________                                                        ________ ________ ________ ________ ________ ________
          ________ ________ ________ ________ ________ ________ ________ ________ WHITE     ________ ________ ________ ________ ________ ________ ________ ________ ________
          ________ ________ ________ ________ ________          ________ ________ ________  ________ ________ ________          ________ ________ ________ ________ ________
        >;
        layer-id = <LAYER_Games_thumb>;
      };

      Lower {
        bindings = <
          ________ ________ ________ ________ ________                                                                          ________ ________ ________ ________ ________
          ________ ________ ________ ________ ________ ________                                                        ________ ________ ________ ________ ________ ________
          ________ ________ ________ ________ ________ ________                                                        ________ ________ ________ ________ ________ ________
          ________ ________ ________ ________ ________ ________                                                        ________ ________ ________ ________ ________ ________
          ________ ________ ________ ________ ________ ________ ________ ________ ________  ________ ________ ________ ________ ________ ________ ________ ________ ________
          ________ ________ ________ ________ ________          ________ ________ WHITE     WHITE    ________ ________          ________ ________ ________ ________ ________
        >;
        layer-id = <LAYER_Lower>;
      };

    };
  };
  // ==== PER-KEY-RGB <section ends> =====
#endif
